<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>Mission to Mars</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <div class="row" >
        <div class="col-md-12">
            <div class="box center"> 
                <h1 class="title"><strong>Latest New from our Stellar Neighbor</strong></h1>
                <h4 class="header"><strong>{{red_planet.news_title}}</strong></h4>
                <p class="teaser">{{red_planet.news_p}}</p>
             </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h1><strong>Spolight on Mars</strong></h1>
            <img class="img-responsive" src="{{red_planet.featured_image_url}}" alt="featured_image">
        </div>
        
            <div class="col-md-4">
                <div class="box center">
                    <h3><strong>Martian Forecast</strong></h3>
                    <h5>{{red_planet.mars_weather}}</h5>
                </div>
            </div>   
            <br>
                    <h3><strong>Mars Facts</strong></h3>
                        <div class="content table-responsive">
                            <table class="table table-bordered table-inverse">
                                <tr>
                                    <th>Field</th>
                                    <th>Value</th>
                                </tr>
</body>

</html>